.nav {
    grid-area: n;
    background-color: #87bcde99;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: white;
    font-weight: bolder;
}